body {
    text-align: center;
}

#sample-btn button {
    background-color: #ededed;
    border: 1px solid #bbbbbb;
    font-size: 15px;
    height: 50px;
    cursor: pointer;
}

#sample-btn button:hover {
    color: #BF0000;
    border-bottom-width: 2px;
}

svg.dmak-svg {
    border: 1px solid #CCCCCC;
    margin-right: 1px;
}

#konnichiha, #sekai {
    margin-top: 30px;
}

#yomikata{
    
}